:root {
  --primary-text-color: #212121;
  --additional-color: #ffffff;
  --primary-background-color: #f5f5f5;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --additional-color-background: #f5f4fa;
  --repeating-color-background: #2f303a;
  --logo-feature-color: #000000;
}

.logo.black {
  color: var(--logo-feature-color);
}

.logo.white {
  color: var(--additional-color);
}

span {
  color: var(--accent-color);
}

.header {
  background-color: var(--additional-color);
}

.nav-site a {
  color: var(--primary-text-color);
}
.nav-site a:hover,
.nav-site a:focus {
  color: var(--accent-color);
}

.nav-site .active {
  color: var(--accent-color);
}

.contacts a {
  color: var(--secondary-text-color);
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

footer {
  background-color: var(--repeating-color-background);
}

ul {
  list-style: none;
}

address {
  color: var(--additional-color);
}

.additional-color {
  color: var(--additional-color);
}

.button-list button {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.button-list button:hover,
.button-list button:focus {
  color: var(--additional-color);
  background-color: var(--accent-color);
}

main {
  background-color: var(--primary-background-color);
}

.portfolio h3 {
  color: var(--primary-text-color);
}

.portfolio p {
  color: var(--secondary-text-color);
}

.hero {
  color: var(--additional-color);
  background-color: var(--repeating-color-background);
}

.hero button {
  color: var(--additional-color);
  background-color: var(--accent-color);
}

.work-list h3 {
  color: var(--primary-text-color);
}

.work-list p {
  color: var(--secondary-text-color);
}

.team {
  background-color: var(--additional-color-background);
}

.team h3 {
  color: var(--primary-text-color);
}

.team p {
  color: var(--secondary-text-color);
}
